{% load static %} {% load staticfiles %}
<html>

<head>
  <!-- Global -->
  <title>QnV - Iniciar sesión</title>
  <link rel="icon" href="{% static 'logo.png' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" />

  <!-- Chrome mobile -->
  <meta name="theme-color" content="#FF5349">

  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />
  <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
</head>

<body>
  <div class="main">
    <div class="wrapper row">
      <div class="col s12 m8 l4 push-l4 push-m2 white login-card row">
        <div class="row">
          <div class="login-content s12">
            <img id="center_logo" class="myImg" src="{% static 'logoL.png' %}">
            <br>
            <!-- form del login -->
            <form method="POST" id="formLogin" action="{% url 'login:log' %}">
              {% csrf_token %}
              <div class="input-field col s12 m10 push-m1">
                <input id="email" name="username" type="email" required>
                <label for="email">Correo electrónico</label>
              </div>
              <div class="input-field col s12 m10 push-m1">
                <input id="uspswd" name="password" type="password" required oninvalid="setCustomValidity('El password es obligatorio ')" oninput="setCustomValidity('')">
                <label for="uspswd">Contraseña</label>
              </div>
              <button class="waves-effect waves-dark btn logBtn z-depth-0 center-text datSpace font-heavy" id="btn" type="submit" name="action" onclick="revisar()">INGRESAR</button>
            </form>
            <button class="waves-effect waves-dark btn logBtn reg grey lighten-3 z-depth-0 font-heavy" id="regBtn">REGISTRARSE</button>
            <div class="col s12 center psw-label">
              <a href="{% url 'password_reset' %}" class="font-light">¿Olvidó su contraseña?</a></div>
            {% if messages %}
            <ul class="messages" id="findme">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" id="error_message" {% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}</div>
        </div>
        <div class="register-content" style="margin-top:17px;">
          <div class="row">
            <div class="comingBack col s12" style="text-align: center;">
              <a class="btn-flat center nohover center-btn grey-text">volver al ingreso</a>
            </div>
            <div class="divider"></div>
            <!-- form de registro -->
            <form method="POST" action="{% url 'login:reg' %}">
              {% csrf_token %}
              <h5 class="center grey-text font-heavy">REGISTRO</h5>
              <div class="input-field col s12 m10 push-m1">
                <input id="namm" name="name" type="text" required oninvalid="setCustomValidity('Ingrese un nombre')" oninput="setCustomValidity('')">
                <label for="namm">Nombre y Apellido</label>
              </div>

              <div class="input-field col s12 m10 push-m1">
                <input id="corr" name="email" type="email" required poploninvalid="setCustomValidity('Debe ingresar un email válido')" oninput="setCustomValidity('')">
                <label for="corr">Correo electrónico</label>
              </div>
              <div class="input-field col s12 m10 push-m1">
                <input id="regpass" name="pass1" type="password" class="isRed" required oninvalid="setCustomValidity('Debes ingresar una contraseña')" oninput="setCustomValidity('')">
                <label for="regpass">Contraseña</label>
              </div>
              <div class="input-field col s12 m10 push-m1">
                <input id="regpass2" name="pass2" type="password" class="isRed" required oninvalid="setCustomValidity('#ElQueLasHaceLasPaga')" oninput="setCustomValidity('')">
                <label for="regpass2">Repetir contraseña</label>
              </div>
              <div style="margin-top: -9px;" class="input-field col s12 m10 push-m1">
                <div class="col s12 center">
                  <input type="checkbox" class="filled-in" name="terms" id="terms">
                  <label for="terms">Acepto los <a onclick="window.open
                  ('tyc')" target="_blank">términos y condiciones</a></label>
                </div>
                <button style="margin-top: 28px;" class="waves-effect waves-light btn logBtn z-depth-0 datSpace font-heavy" type="submit" id="register" name="action">REGISTRARSE</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/check_validations.js' %}"></script>
</body>

</html>
