{% load static %} {% load staticfiles %}
<html>
<head>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" />
	<title>QNV - Login</title>
	<link rel="icon" href="{% static 'logo.png' %}">
	<link rel="stylesheet" href="{% static 'css/style_login.css' %}">
</head>
<body>
	<div class="main">
		<div class="wrapper row">
			<div class="col s12 m8 l4 push-l4 push-m2 white login-card row">
				<div class="row">
					<div class="login-content s12">
						<img class="myImg" src="{% static 'logo.png' %}">
						<br>
						<form method="POST" id="formLogin" action="{% url 'login:log' %}">
							{% csrf_token %}
							<div class="input-field col s12 m10 push-m1">
								<input id="email" name="username" type="email" required >
								<label for="email">Correo electrónico</label>
							</div>
							<div class="input-field col s12 m10 push-m1">
								<input id="uspswd" name="password" type="password" class="monts" required>
								<!-- required
								oninvalid="setCustomValidity('El password es obligatorio')"
							oninput="setCustomValidity('')" -->
								<label for="uspswd">Contraseña</label>
							</div>
							<button class="waves-effect waves-dark btn logBtn green accent-2 z-depth-0 center-text datSpace"
											id="btn" type="submit" name="action" onclick="revisar()">INGRESAR</button>
						</form>
						<button class="waves-effect waves-dark btn logBtn reg grey lighten-3 z-depth-0" id="regBtn">REGISTRARSE</button>
						{% if messages %}
												<script type="text/javascript">
                            $(window).load(function(){
                                $('#modal1').show();
                            });
                        </script>

                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
					</div>
				</div>
				<div class="register-content" style="margin-top:17px;">
					<div class="row">
						<div class="comingBack col s12 monts" style="text-align: center;">
							<i class="material-icons green-text text-accent-2 datArrow">keyboard_backspace</i><a class="btn-flat center nohover center-btn grey-text">volver al ingreso</a></div>
						<div class="divider"></div>
						<form method="POST" action="{% url 'login:reg' %}">
							{% csrf_token %}
							<h5 class="center grey-text monts tSp">REGISTRO</h5>
							<div class="input-field col s12 m10 push-m1">
								<input id="namm" name="name" type="text" class="monts">
								<label for="namm">Nombre y Apellido</label>
							</div>

							<div class="input-field col s12 m10 push-m1">
								<input id="corr" name="email" type="text" class="monts" required>
								<label for="corr">Correo electrónico</label>
							</div>
							<div class="input-field col s12 m10 push-m1">
								<input id="regpass" name="pass1" type="password" class="monts" required>
								<label for="popl">Contraseña</label>
							</div>
							<div class="input-field col s12 m10 push-m1">
								<input id="regpass2" name="pass2" type="password" class="monts" required>
								<label for="popl2">Repetir contraseña</label>
							</div>
							<button class="waves-effect waves-light btn logBtn monts green accent-2 z-depth-0 datSpace" type="submit" name="action">REGISTRARSE</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

	<script>
// Desp de que te tire error del mail hay q apretar 2 veces (ai don nou guai)
	$(document).ready(function () {
    var intputElements = document.getElementsByTagName("INPUT");
    for (var i = 0; i < intputElements.length; i++) {
        intputElements[i].oninvalid = function (e) {
            e.target.setCustomValidity("");
            if (!e.target.validity.valid) {
                if (e.target.name == "username") {
                    e.target.setCustomValidity("Bro pone bien el mail culia");
                }else if (e.target.name == "password") {
                    e.target.setCustomValidity("la contrasenia papi");
                }
	              else {
                    e.target.setCustomValidity("Completame este campos tambien bro");
                }
            }
        }
    	}
	});
		$(document).ready(function() {
			$(".register-content").hide();
			$("#regBtn").click(function() {
				$('.login-content').delay(360).hide(0);
				$(".login-card").animate({
					height: "40px"
				});
				$('.login-card').animate({
					height: "530px"
				});
				$('.register-content').delay(360).show(0);
			});
			$(".comingBack").click(function() {
				$('.register-content').delay(360).hide(0);
				$(".login-card").animate({
					height: "40px"
				});
				$('.login-card').animate({
					height: "420px"
				});
				$('.login-content').delay(360).show(0);
			});
		});
    $(document).ready(function () {
  $("#txtConfirmPassword").on("keyup",checkPasswordMatch);
});
$(document).ready(function () {
  $("#regpass, #regpass2").on("keyup",checkPasswordMatch);
});

function checkPasswordMatch() {
var password = $("#regpass").val();
var confirmPassword = $("#regpass2").val();

if (password != confirmPassword && confirmPassword!="" ){
$("#regpass2").css("border-bottom-color","red");}
else{

$("#regpass2").css("border-bottom-color","green");
}}
  </script>
</body>

</html>
