 {% load static %} {% load staticfiles %}

<html>

<head>
  <!-- Global -->
  <title>QNV - Recuperar contraseña</title>
  <link rel="icon" href="{% static 'logo.png' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" />

  <!-- Chrome mobile -->
  <meta name="theme-color" content="#FF5349">

  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />
  <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
</head>

<body>

  <div class="main">
    <div class="wrapper row">
      <div class="col s12 m8 l4 push-l4 login-card push-m2 white conf3-card row">
        <div class="row">
          <div class="row center">
            {% block content %}
            <p>
              Tu contraseña fue configurada. Ya puedes <a onclick="window.location.href = '/principal'">ingresar</a>.
            </p>
            {% endblock %}

          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
