{% load static %} {% load staticfiles %}

<html>

<head>
  <!-- Global -->
  <title>QNV - Recuperar contraseña</title>
  <link rel="icon" href="{% static 'logo.png' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" />

  <!-- Chrome mobile -->
	<meta name="theme-color" content="#FF5349">

	<!-- CSS -->
  <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />
  <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
</head>

<body>

  <div class="main">
      <div class="wrapper row">
          <div class="col s12 m8 l4 push-l4 push-m2 login-card white conf-card row">
              <div class="row">
                <div class="row center">
                  {% block content %}
                  <h5 style="margin-top:30px;" class="red-text text-accent-2 font-heavy">¡Listo!</h5>
                  <div class="col s12 l10 offset-l1">
                    <p>
                      Te enviamos un correo electrónico para configurar tu nueva contraseña.
                    </p>
                    <p>
                      Si no recibiste el correo, por favor asegurese que entró la dirección de correo electrónico correcta, y revise la carpeta de spam.
                    </p>
                    </div>
                  {% endblock %}

                </div>
              </div>
          </div>
      </div>
  </div>

</body>

</html>
