<!-- {% load i18n %}{% autoescape off %}
{% blocktrans %}Usted recibe este email por parte de {{ site_name }}, debido a que olvido su contraseña.{% endblocktrans %}

{% trans "Dirigase al siguente link para poder escojer una nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Su nombre de usuario por si lo olvido" %} {{ user.get_username }}

{% trans "Gracias por elegir QnV!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %} -->

{% autoescape off %}
To initiate the password reset process for your {{ user.get_username }} TestSite Account,
click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Sincerely,
The TestSite Team
{% endautoescape %}
