{% load static %} {% load staticfiles %}

<html style="background-color: #F5F5F5;">

<head>
  <!-- Global -->
  <title>QNV - Recuperar contraseña</title>
  <link rel="icon" href="{% static 'logo.png' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" />

  <!-- Chrome mobile -->
  <meta name="theme-color" content="#FF5349">

  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />
  <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
</head>

<body style="background-color: #F5F5F5;">

  <div class="main">
    <div class="wrapper row">
      <div class="col s12 m8 l4 push-l4 login-card push-m2 white conf2-card row">
        <div class="row">
          <div class="row center">
            {% block content %} {% if validlink %}
            <h5 style="margin-top:35px; padding-bottom:15px;">Cambiar contraseña</h5>
            <div class="col s12 l10 offset-l1">
              <form method="post">
                {% csrf_token %} {{ form.as_p }}</div>
            <button class="waves-effect waves-dark btn logBtn z-depth-0 center-text datSpace font-heavy" type="submit" style="margin-left:0px;">CAMBIAR</button>
            </form>
            {% else %}
            <p>
              La contraseña es invalida, probablemente porque ya está en uso. Prueba con una nueva.
            </p>
            {% endif %} {% endblock %}

          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $('#id_new_password1').text("Aa");
  });
  (function() {

    document.getElementById("id_new_password1").innerHTML = 'asd';

  })();
</script>

</html>
