
{% load i18n static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Servicio QnV' %}
</div>
<p>{% trans "Recuperar contraseña" %} puto el que lee y es</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'Email:' %}</label>
        {{ form.email }}
    </div>
    <input type="submit" value="{% trans 'Restaurar contraseña' %}" />
</fieldset>
</form>

{% endblock %}
