$rojo: #ff3b30;
$naranja: #ff9500;
$amarillo: #ffcc00;
$verde: #4cd900;
$celeste: #5ac8fa;
$azul: #707ff9;
$violeta: #5856d6;
$rosa: #ff2d55;
$gris-oscuro: #15191c;
$gris-claro: #fcfcfc;
//Global
html,
body {
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}
body {
	background-color: $gris-claro;
	overflow-x: hidden;
}
a {
	font-weight: 600;
	text-decoration: none !important;
}
h2 {
	font-size: 3em;
}
p {
	line-height: 22px;
}
.center {
	text-align: center;
}
.rightimg {
	float: right;
}
.row {
	margin-bottom: 0px !important;
}
// Hide on mobile - on large
@media screen and (max-width: 600px) {
	.hide-on-mobile {
		visibility: hidden;
		display: none;
	}
}
@media screen and (min-width: 600px) {
	.hide-on-large {
		visibility: hidden;
		display: none;
	}
}
@mixin transition($transition...) {
	-moz-transition: $transition;
	-o-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}
// Nav
nav {
	ul.center {
		padding-left: 2%;
		padding-right: 2%;
		list-style-type: none;
		text-align: center;
		li {
			display: inline-block;
			float: right;
			a {
				color: #757575;
				font-size: .7rem;
				float: right;
				text-align: right;
				@media screen and (max-width: 600px) {
					display: none;
					visibility: hidden;
				}
			}
			&#centered {
				margin-left: -20px;
				position: absolute;
				float: none !important;
			}
		}
		.left-nav {
			float: left;
		}
	}
}
li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
// Portada
.panelbig {
	/*background-image: url(img/background.jpg);*/
	height: 100%;
	/* Font on large */
	#rev-1 {
		color: #262626;
	}
	#rev-2 {
		margin-top: 55;
		color: #262626;
	}
	a {
		border-radius: 3px;
		color: #fff;
		background: $rojo;
		padding: 15 40 15 40;
		font-family: 'Montserrat', sans-serif;
		border: 0;
		letter-spacing: 1.5px;
		box-shadow: inset 0 0 0 0 lighten($rosa, 20%);
		@include transition(all ease .8s);
		&:hover {
			box-shadow: inset 200px 0 0 0 $rosa;
			color: #fff;
		}
	}
	
	/* Trying to make font almost responsive */
	@media screen and (max-width: 1100px) and (min-width: 601px) {
		#rev-1 {
			margin-top: 10%;
		}
	}
	@media screen and (max-width: 600px) {
		#rev-1 {
			margin-top: 45%;
		}
		a {
			position: absolute;
			text-align: center;
			bottom: 50;
			right: 30;
			left: 30;
		}
	}
	/* Font on mobile */
	#clipped-title1 {
		background: url(img/font-background.png) no-repeat center center;
		background-size: cover;
		color: #fff;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		height: 90%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		h1 {
			font-size: 3.7rem;
			font-family: Verdana, sans-serif;
			text-align: center;
			-webkit-transition: text-shadow 1s ease;
			span {
				display: list-item;
				font-size: 4rem;
			}
		}
	}
}
// Que
.panelintro {
	padding-top: 40px;
	.fadeonscroll {
		border-radius: 10px;
		color: #fff;
		background-color: #707ff9;
		box-shadow: 0px 23px 54px -16px rgba(0, 0, 0, .43);
	}
	h2 {
		color: #fff;
	}
	p {
		padding-bottom: 40px;
		color: #fff;
		margin-bottom: 15px;
		text-align: center;
	}
}
// Donde
.paneldonde {
	margin-top: 50px;
	.wtitle {
		color: #757575;
	}
}
.plate {
	border-radius: 10px;
	box-shadow: 0px 23px 54px -16px rgba(0, 0, 0, .43);
	width: 100%;
	height: 400px;
	background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .6)), url('img/test.jpg');
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	margin: 0 auto;
	margin-top: 40px;
	line-height: 200px;
	text-align: center;
	font-size: 2rem;
	span {
		display: block;
		font-weight: 400;
		font-size: 1rem;
	}
	@media screen and (max-width: 800px) {
		pointer-events: none;
	}
}
// Como
.panelcomo {
	margin-top: 80px;
	background-color: #000;
	padding-bottom: 8% !important;
	h2 {
		color: #fff;
	}
	.frame {
		margin-top: 50px;
		width: 100%;
		text-align: center;
	}
	.right {
		float: right;
		text-align: right;
	}
	.left {
		text-align: left;
	}
	.m12 {
		color: #fff;
	}
	td {
		@media screen and (min-width: 600px) {
			width: 50%;
		}
	}
	td:first-child {
		background-image: url('http://placekitten.com/g/200/300');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;
	}
	@media screen and (max-width: 600px) {
		p,
		h2 {
			text-align: center;
		}
	}
}
// Final
.panelfinal {
	height: 500px;
	background-image: url(img/repback2.png);
	background-repeat: repeat;
	h2 {
		margin-top: 8%;
	}
	p {
		margin-bottom: 80px;
	}
	a {
		color: #fff;
		background-color: $celeste;
		border-radius: 5px;
		padding: 20 65 20 65;
		@include transition(.5s);
		box-shadow: -1px 10px 41px -8px rgba(0, 0, 0, .23);
		&:hover {
			background-color: $azul;
		}
	}
}
// Footer
footer {
	padding-bottom: 40px;
	background-color: $gris-oscuro;
	h4 {
		text-align: center;
		text-transform: uppercase;
		padding-top: 20px;
		color: #fff;
		padding-bottom: 15px;
		border-bottom: 1px solid white;
	}
	ul {
		list-style-type: none;
		color: lighten($gris-oscuro, 25%);
		li {
			letter-spacing: 1px;
			font-size: .6rem;
			font-weight: 600;
			text-transform: uppercase;
			margin-left: -15px;
			padding: 10 0 10 0;
			&:before {
				content: '- ';
			}
		}
		#comunicate {
			text-align: right;
			&:before {
				content: none;
			}
			&:after {
				content: ' -';
			}
		}
		@media screen and (max-width: 1000px) {
			li,
			#comunicate {
				text-align: center;
				&:after,
				&:before {
					content: ' - ' !important;
				}
			}
		}
		/*.noupper {
			text-transform: none !important;
			font-size: 13px;
		}*/
	}
	form {
		font-size: 12px !important;
		input[type="text"],
		textarea,
		input[type="email"] {
			font-family: 'Montserrat', sans-serif;
			background-color: lighten($gris-oscuro, 10%);
			margin: 10 0 10 0;
			color: #fff;
			padding: 12 35 12 35 !important;
			border-radius: 0px;
			border: 0;
			resize: none;
		}
		input[type="submit"] {
			font-family: 'Montserrat', sans-serif;
			font-weight: 600;
			margin-top: 20px;
			margin-left: 25px;
			font-size: 12px;
			text-transform: uppercase;
			padding: 10 25 10 25;
			border: 0;
			margin-right: 12px;
			&:hover {
				background-color: darken(#fff, 20%);
			}
		}
	}
	textarea {
		height: 200px !important;
	}
	/* Center placeholder */
	::-webkit-input-placeholder {
		text-align: center;
	}
	:-moz-placeholder {
		/* Firefox 18- */
		text-align: center;
	}
	::-moz-placeholder {
		/* Firefox 19+ */
		text-align: center;
	}
	:-ms-input-placeholder {
		text-align: center;
	}
}
// Block reveal
.content__title {
	font-size: 8vw;
	line-height: 1.2;
	padding: 0 10vw;
}
.content__title__inner {
	flex: none;
	display: inline-block;
	white-space: nowrap;
	position: relative;
}
.content__title__inner--offset-1 {
	top: -0.25em;
	left: 13.6vw;
}