@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400, 700");
/* line 10, /home/fran/Escritorio/Aplicación/sass/style.scss */
html,
body {
  height: 100%;
  font-family: 'Libre Franklin', sans-serif; }

/* line 15, /home/fran/Escritorio/Aplicación/sass/style.scss */
.franklin-bold {
  font-weight: 700; }

/* line 18, /home/fran/Escritorio/Aplicación/sass/style.scss */
p {
  font-size: 1.1em; }

/* line 23, /home/fran/Escritorio/Aplicación/sass/style.scss */
.button-collapse {
  z-index: 999;
  margin: 20;
  margin-top: 25;
  position: absolute; }

/* line 30, /home/fran/Escritorio/Aplicación/sass/style.scss */
nav {
  position: fixed;
  z-index: 500; }
  /* line 33, /home/fran/Escritorio/Aplicación/sass/style.scss */
  nav .logo {
    margin-top: 25%;
    max-width: 42px;
    fill: #fff; }
  /* line 38, /home/fran/Escritorio/Aplicación/sass/style.scss */
  nav .userText {
    transition: .3s linear;
    color: #616161; }

/* line 44, /home/fran/Escritorio/Aplicación/sass/style.scss */
.side-nav {
  width: 100% !important;
  background-color: #fff !important;
  z-index: 998 !important;
  transition: 0.3s ease-out;
  opacity: 0.98; }
  /* line 50, /home/fran/Escritorio/Aplicación/sass/style.scss */
  .side-nav .row {
    margin-bottom: 0; }

/* line 54, /home/fran/Escritorio/Aplicación/sass/style.scss */
.collapsible-container1 {
  height: 100%;
  width: 100%; }

/* line 58, /home/fran/Escritorio/Aplicación/sass/style.scss */
.collapsible-container2 {
  position: absolute;
  top: 30%;
  margin-top: -8% !important; }

/* line 63, /home/fran/Escritorio/Aplicación/sass/style.scss */
.accordion {
  width: 50%;
  margin: 0 auto; }

/* line 67, /home/fran/Escritorio/Aplicación/sass/style.scss */
.collapsible-header {
  padding-top: 25% !important; }

/* line 70, /home/fran/Escritorio/Aplicación/sass/style.scss */
.tem {
  font-size: 3em; }

/* line 75, /home/fran/Escritorio/Aplicación/sass/style.scss */
#navsection1 {
  padding-top: 10%;
  line-height: 30px !important; }

/* line 79, /home/fran/Escritorio/Aplicación/sass/style.scss */
#navsection2 {
  padding-top: 10%;
  line-height: 15px !important; }
  /* line 82, /home/fran/Escritorio/Aplicación/sass/style.scss */
  #navsection2 input[type=text] {
    border-bottom: 1px solid #424242; }
  /* line 85, /home/fran/Escritorio/Aplicación/sass/style.scss */
  #navsection2 input[type=text]:focus {
    box-shadow: 0 1px 0 0 #616161 !important; }
  /* line 88, /home/fran/Escritorio/Aplicación/sass/style.scss */
  #navsection2 textarea.materialize-textarea {
    border-bottom: 1px solid #424242 !important;
    line-height: 20px; }
  /* line 92, /home/fran/Escritorio/Aplicación/sass/style.scss */
  #navsection2 textarea.materialize-textarea:focus {
    box-shadow: 0 1px 0 0 #616161 !important; }
  /* line 95, /home/fran/Escritorio/Aplicación/sass/style.scss */
  #navsection2 label {
    color: #616161 !important; }
  /* line 98, /home/fran/Escritorio/Aplicación/sass/style.scss */
  #navsection2 button {
    margin-top: 20px;
    margin-right: 10px; }

/* line 103, /home/fran/Escritorio/Aplicación/sass/style.scss */
#navsection3 {
  margin-top: 10%;
  line-height: 30px;
  vertical-align: middle; }

/* line 110, /home/fran/Escritorio/Aplicación/sass/style.scss */
.bigpanel {
  height: 100%;
  margin: 0;
  padding: 0 !important; }

/* line 116, /home/fran/Escritorio/Aplicación/sass/style.scss */
.textsection {
  padding-top: 5%; }

/* line 119, /home/fran/Escritorio/Aplicación/sass/style.scss */
.btnsection {
  padding: 3em 0 0 0; }

/* line 122, /home/fran/Escritorio/Aplicación/sass/style.scss */
.btn-large {
  width: 13%;
  min-width: 100px;
  border-radius: 50px !important; }

/* line 127, /home/fran/Escritorio/Aplicación/sass/style.scss */
.optbutton {
  margin-left: 3% !important;
  margin-right: 3% !important;
  letter-spacing: 1px !important; }

/* line 135, /home/fran/Escritorio/Aplicación/sass/style.scss */
.comingbackbtn {
  position: relative; }
  /* line 137, /home/fran/Escritorio/Aplicación/sass/style.scss */
  .comingbackbtn.izq {
    margin-top: -16%;
    right: 2%;
    float: right; }
    /* line 141, /home/fran/Escritorio/Aplicación/sass/style.scss */
    .comingbackbtn.izq img {
      margin-top: 16px;
      margin-left: 16px; }
  /* line 146, /home/fran/Escritorio/Aplicación/sass/style.scss */
  .comingbackbtn.der {
    margin-top: -16%;
    float: left;
    margin-left: 2%; }
    /* line 150, /home/fran/Escritorio/Aplicación/sass/style.scss */
    .comingbackbtn.der img {
      -webkit-transform: rotate(180deg);
      /* Chrome */
      -moz-transform: rotate(180deg);
      /* FF */
      -o-transform: rotate(180deg);
      /* Opera */
      -ms-transform: rotate(180deg);
      /* IE9 */
      transform: rotate(180deg);
      /* W3C compliant browsers */
      width: 16px;
      margin-top: 16px;
      margin-left: 15px; }

/* line 167, /home/fran/Escritorio/Aplicación/sass/style.scss */
.btn-floating {
  width: 48px !important;
  height: 48px !important; }

/* line 180, /home/fran/Escritorio/Aplicación/sass/style.scss */
.menu-toggle {
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 999 !important; }
  /* line 185, /home/fran/Escritorio/Aplicación/sass/style.scss */
  .menu-toggle .bars {
    display: block;
    width: 28px;
    height: 4px;
    background: #616161;
    border-radius: 0px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -2px;
    transition: all .2s linear; }
    /* line 192, /home/fran/Escritorio/Aplicación/sass/style.scss */
    .menu-toggle .bars:before, .menu-toggle .bars:after {
      display: block;
      width: 28px;
      height: 4px;
      background: #616161;
      border-radius: 0px;
      content: "";
      position: absolute;
      transition: .2s linear; }
    /* line 199, /home/fran/Escritorio/Aplicación/sass/style.scss */
    .menu-toggle .bars:before {
      top: -8px; }
    /* line 202, /home/fran/Escritorio/Aplicación/sass/style.scss */
    .menu-toggle .bars:after {
      bottom: -8px; }
  /* line 206, /home/fran/Escritorio/Aplicación/sass/style.scss */
  .menu-toggle .barsTwo {
    display: block;
    width: 28px;
    height: 4px;
    background: #616161;
    border-radius: 0px;
    background: white;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -2px;
    transition: all .2s linear; }
    /* line 214, /home/fran/Escritorio/Aplicación/sass/style.scss */
    .menu-toggle .barsTwo:before, .menu-toggle .barsTwo:after {
      display: block;
      width: 28px;
      height: 4px;
      background: #616161;
      border-radius: 0px;
      background: white;
      content: "";
      position: absolute;
      transition: .2s linear; }
    /* line 222, /home/fran/Escritorio/Aplicación/sass/style.scss */
    .menu-toggle .barsTwo:before {
      top: -8px; }
    /* line 225, /home/fran/Escritorio/Aplicación/sass/style.scss */
    .menu-toggle .barsTwo:after {
      bottom: -8px; }

/* line 231, /home/fran/Escritorio/Aplicación/sass/style.scss */
.active .bars {
  background-color: transparent;
  transition: all .2s linear; }
  /* line 234, /home/fran/Escritorio/Aplicación/sass/style.scss */
  .active .bars:before {
    top: 0;
    transform: rotate(45deg); }
  /* line 238, /home/fran/Escritorio/Aplicación/sass/style.scss */
  .active .bars:after {
    bottom: 0;
    transform: rotate(-45deg); }

/* line 243, /home/fran/Escritorio/Aplicación/sass/style.scss */
.active .barsTwo {
  transition: all .2s linear; }
  /* line 245, /home/fran/Escritorio/Aplicación/sass/style.scss */
  .active .barsTwo:before {
    background: #616161;
    top: 0;
    transform: rotate(45deg); }
  /* line 250, /home/fran/Escritorio/Aplicación/sass/style.scss */
  .active .barsTwo:after {
    background: #616161;
    bottom: 0;
    transform: rotate(-45deg); }

/* line 258, /home/fran/Escritorio/Aplicación/sass/style.scss */
div.section.fp-section.active.fp-completely {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

/*# sourceMappingURL=style.css.map */