{% load static %} {% load staticfiles %} {% block nav %} {% include "nav.html" %} {% endblock %}

<head>
  <!-- Global -->
  <title>QnV Verificacion - Verificar entrada</title>
  <link rel="icon" href="{% static 'logo.png' %}">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" charset="UTF-8" />

  <!-- Chrome mobile -->
  <meta name="theme-color" content="#FF5349">

  <!-- CSS -->  
  <link rel="stylesheet" href="{% static 'css/veristyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/_grid.css' %}">
</head>

<div class="col s12 center-align">
  <form action="/verificacion/entrada" method="GET">
    <input class="large-input" type="number" name="id" placeholder="ID" min="1" required>
    <input type="submit" value="✔" />
  </form>
</div>
