{% load static %} {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/verificacion.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/_grid.css' %}">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
<br>


<br>
<div class="container">
	<div class="row">
		<div class="col s4 center"><a href="/verificar/input/retiro" class="button button-primary">Verificar retiro</a>
		</div>
		<div class="col s4 center"><a href="/verificacion/input/entrada" class="button">Verificar entrada</a>
		</div>
		<div class="col s4 center"><a href="/stock/" class="button">Control de stock</a>
		</div>
	</div>
</div>