{% load static %} {% load staticfiles %} {% block nav %}
<link rel="stylesheet" href="{% static 'css/veristyle.css' %}">
<!--<link rel="stylesheet" href="{% static 'css/normalize.css' %}">-->
<link rel="stylesheet" href="{% static 'css/_grid.css' %}">
<div class="row">
	<div class="col s12 center-align divider nav">
		<div class="col s1" style="font-weight: 600; text-align: left; margin-top:12px; cursor: pointer;"><a onclick="location.href='/principal'">VOLVER</a></div>
		<a class="button" href="/verificacion/input/retiro"><button id="retiro" class="">Verificar Retiro</button></a>

		<a class="button" href="/verificacion/stock"><button id="stock" class="">Control de Stock</button></a>

		<a class="button" href="/verificacion/input/entrada"><button id="entrada" class="">Verificar Entrada</button></a>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/colorBtn.js' %}"></script>
{% endblock %}
