 {% load static %} {% load staticfiles %} {% block nav %} {% include "nav.html" %} {% endblock %}

<head>
  <title>Verificacion - Verificar retiro</title>
  <link rel="icon" href="{% static 'logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/veristyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/_grid.css' %}">
</head>

<div class="col s12 center-align">
  <form action="/verificacion/salida/" method="GET">
    <input class="large-input" type="text" name="salida" placeholder="CODE" required>
    <input type="submit" value="✔" />
  </form>
</div>
