{% load static %} {% load staticfiles %}
<html>

<head>
  <!-- Global -->
  <title>QnV Verificacion - Retirando medicamento</title>
  <link rel="icon" href="{% static 'logo.png' %}">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" charset="UTF-8" />

  <!-- Chrome mobile -->
  <meta name="theme-color" content="#FF5349">

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/veristyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/_grid.css' %}">
</head>

<body>
  <div class="col s12 center-align">
  <form action="/verificacion/salida/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="donation_id" value="{{donation_id}}" /> {{match_id}} {% for medicamento_donado in match %}

    <p>{{medicamento_donado}}</p>

    {% endfor %} {% if donacion.prescripcion %}

    <h1>Retirando {{donacion.medicamento.nombre}}</h1>

    <input type="checkbox" name="checks" value="nombre">¿Posee el beneficiario la receta correspondiente?<br> {% else %} <h1>Todo en orden, puede otorgar el medicamento al usuario.</h1> {% endif %}
    <br>
    <input type="submit" value="Aceptar">
  </form>
  </div>
</body>

</html>
