
<form action="/verificacion/salida/" method="POST">
{% csrf_token %}
<input type="hidden" name="donation_id" value="{{donation_id}}"/>
{{match_id}}
{% for medicamento_donado in match %}

<p>{{medicamento_donado}}</p>	

{% endfor %}

{% if donacion.medicamento.prescripcion %}

Retirando {{donacion.medicamento.nombre}} <br>

<input type="checkbox" name="checks" value="nombre">¿Posee el beneficiario la receta correspondiente?<br>

{% else %}

Todo en orden, puede otorgar el medicamento al usuario.

{% endif %}
<br>
  <input type="submit" value="Submit">
</form> 