{% load static %} {% load staticfiles %}
<html>

<head>
    <title>QNV</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_donar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" />
</head>

<body class="thx-body">
    <div class="row">
        <div class="center thx-icon">
            <img alt="Icon" src="{% static 'css/img/icon.png' %}" onclick="location.href='/principal'">
        </div>
        <div class="col s12">
            <h1 class="center grey-text text-darken-3">¡Felicidades!</h1>
            <div class="col s6 offset-s3">
                <h5 class="center grey-text text-darken-3 z-depth-0 semibold">Tu codigo de solicitud es:<span class="white-text green accent-3 id-show">{{donation_id}}</span></h5>
            </div>
            <div class="col s12 center">
                <p>Con este código vas a poder retirar tu medicamento en el dispensario.</p>
                <br>
            </div>
            <div class="col s10 offset-s1 thx-float z-depth-1">
                <div class="row">
                    <h5 class="center don-dat">Datos de donacion</h5>
                    <div class="input-field col s4 offset-s1">
                        <input disabled name="donar_nombre" value="{{donation.medicamento.nombre}}" id="n_1" type="text">
                        <label for="n_1" class="semibold grey-text text-darken-1">NOMBRE COMERCIAL</label>
                    </div>
                    <div class="input-field col s2">
                        <input disabled name="donar_cantidad" value="{{donation.cantidad}}" id="ca_2" type="text" class="thx-center">
                        <label for="ca_2" class="semibold thx-center lab grey-text text-darken-1">CANTIDAD</label>
                    </div>
                    <div class="input-field col s4">
                        <input disabled name="donar_concentracion_gramos" value="{{donation.medicamento.concentracion_gramos}}" id="c_1" type="text" class="thx-right">
                        <label for="c_1" class="semibold thx-right lab grey-text text-darken-1">CONCENTRACION(GR)</label>
                    </div>
                    <div class="input-field col s3 offset-s1">
                        <input disabled name="donar_laboratorio" value="{{donation.laboratorio}}" id="l_1" type="text" class="">
                        <label for="l_1" class="semibold grey-text text-darken-1">LABORATORIO</label>
                    </div>
                    <div class="input-field col s2">
                        <input disabled name="mes" value="value" id="f_2" type="text" class="thx-center">
                        <label for="f_2" class="semibold thx-center lab grey-text text-darken-1">MES</label>
                    </div>
                    <!--   para poner adentro del value de fecha          value="{{donation.fecha_vencimiento}}"                 -->
                    <div class="input-field col s2">
                        <input disabled name="anio" value="value" id="f_1" type="text" class="thx-center">
                        <label for="f_1" class="semibold thx-center lab grey-text text-darken-1">AÑO</label>
                    </div>
                    <div class="input-field col s3">
                        <input disabled name="donar_tipo" value="{{donation.tipo.nombre}}" id="t_1" type="text" class="thx-right">
                        <label for="t_1" class="semibold thx-right lab grey-text text-darken-1">TIPO</label>
                    </div>
                    <div class="input-field col s10 offset-s1">
                        <input disabled name="donar_droga" value="{{donation.medicamento.droga}}" id="d_1" type="text" class="thx-center">
                        <label for="d_1" class="semibold thx-center lab don-back grey-text text-darken-1">DROGA</label>
                    </div>
                </div>
            </div>
            <div class="col s12 center">
                <br>
                <button class="btn indigo accent-2 semibold z-depth-0" onclick="location.href='/principal'">Volver</button></div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'js/bin/materialize_donar.js' %}"></script>
</body>

</html>
