{% load static %} {% load staticfiles %}
<html>

<head>
    <!-- Global -->
    <title>QnV - Informe</title>
    <link rel="icon" href="{% static 'logo.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" />

    <!-- Chrome mobile -->
    <meta name="theme-color" content="#FF5349">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_donar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
</head>

<body>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'js/bin/materialize_donar.js' %}"></script>
</body>

</html>
