{% load static %} {% load staticfiles %}
<html>

<head>
    <title>QNV - Gracias por donar</title>
    <link rel="icon" href="{% static 'logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_donar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" />
</head>

<body class="thx-body">
    <div class="row">
        <div class="center thx-icon">
            <img alt="Icon" src="{% static 'css/img/icon.png' %}" onclick="location.href='/principal'">
        </div>
        <div class="col s12">
            <h1 class="center grey-text text-darken-3">¡Gracias por donar!</h1>
            <div class="col s10 offset-s1 l6 offset-l3">
                <h5 class="center grey-text text-darken-3 z-depth-0 semibold">Tu codigo de donacion es:<span class="white-text indigo accent-3 id-show">{{medDona.id}}</span></h5>
            </div>
            <div class="col s12 center">
                <p>Con este codigo te teni que presentar en el dispensari y onda deci el numerito y ia ta todo donau</p>
                <br>
            </div>
            <div class="col s12 l10 offset-l1 thx-float z-depth-1">
                <div class="row">
                    <h5 class="center don-dat">Datos de donacion</h5>
                    <div class="input-field col s5 l4 offset-l1">
                        <input disabled name="donar_nombre" value="{{medDona.medicamento.nombre}}" id="n_1" type="text">
                        <label for="n_1" class="semibold grey-text text-darken-1">NOMBRE COMERCIAL</label>
                    </div>
                    <div class="input-field col s2">
                        <input disabled name="donar_cantidad" value="{{medDona.cantidad}}" id="ca_2" type="text" class="thx-center">
                        <label for="ca_2" class="semibold thx-center lab grey-text text-darken-1">CANTIDAD</label>
                    </div>
                    <div class="input-field col s5 l4">
                        <input disabled name="donar_concentracion_gramos" value="{{medDona.medicamento.concentracion_gramos}}" id="c_1" type="text" class="thx-right">
                        <label for="c_1" class="semibold thx-right lab grey-text text-darken-1">CONCENTRACION(GR)</label>
                    </div>
                    <div class="input-field col s4 l3 offset-l1">
                        <input disabled name="donar_laboratorio" value="{{medDona.laboratorio}}" id="l_1" type="text" class="">
                        <label for="l_1" class="semibold grey-text text-darken-1">LABORATORIO</label>
                    </div>
                    <!-- <div class="input-field col s2">
                        <input disabled name="mes" value="value" id="f_2" type="text" class="thx-center">
                        <label for="f_2" class="semibold thx-center lab grey-text text-darken-1">MES</label>
                    </div> -->
                    <!--   para poner adentro del value de fecha          value="{{medDona.fecha_vencimiento}}"                 -->
                    <div class="input-field col s4">
                        <input disabled name="anio" value="{{fecha}}" id="f_1" type="text" class="thx-center">
                        <label for="f_1" class="semibold thx-center lab grey-text text-darken-1">FECHA</label>
                    </div>
                    <div class="input-field col s4 l3">
                        <input disabled name="donar_tipo" value="{{medDona.tipo.nombre}}" id="t_1" type="text" class="thx-right">
                        <label for="t_1" class="semibold thx-right lab grey-text text-darken-1">TIPO</label>
                    </div>
                    <div class="input-field col s12 l10 offset-l1">
                        <input disabled name="donar_droga" value="{{medDona.medicamento.droga}}" id="d_1" type="text" class="thx-center">
                        <label for="d_1" class="semibold thx-center lab don-back grey-text text-darken-1">DROGA</label>
                    </div>
                </div>
            </div>
            <div class="col s12 center">
                <br>
                <button class="btn indigo accent-2 semibold z-depth-0" onclick="location.href='/principal'">Volver</button></div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'js/bin/materialize_donar.js' %}"></script>
</body>

</html>
