{% load static %}
{% load staticfiles %}
<html>
    <head>
        <title>QNV</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style_donar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/materialize_donar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fullpage/jquery.fullPage_donar.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" />
    </head>
    <body>
        Gracias por su donacion:
        <p>Medicamento:  {{medicamento_donado.medicamento.nombre}}</p>
        <p>Concentracion en Gramos:  {{medicamento_donado.medicamento.concentracion_gramos}}</p>
        <p>Laboratorio:  {{medicamento_donado.medicamento.laboratorio}}</p>
        <p>Droga:  {{medicamento_donado.medicamento.droga}}</p>
        <p>Prescripcion:  {{medicamento_donado.medicamento.prescripcion}}</p>
        <p>Tipo:  {{medicamento_donado.medicamento.prescripcion}}</p>
        <p>N° Donacion:  {{medicamento_donado.donacion.id}}</p>
        <p>Cantidad:  {{medicamento_donado.cantidad}}</p>
        <p>Fecha de Vencimiento:  {{medicamento_donado.fecha_vencimiento}}</p>
        <p>Stock:  {{medicamento_donado.stock}}</p>
        <p>Codigo:  {{medicamento_donado.codigo}}</p>
        <div class="col s12 center">
            <button class="btn red accent-2" onclick="location.href='/principal'">Volver</button>
        </div>
    </body>
</html>
